---
http_interactions:
- request:
    method: get
    uri: https://api.wunderlist.com/me/lists?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 131378dbc2490bf87b6080ad6aeb758a46673270bbca9c7ea26f434473bbe741
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"902626f7ad1045f6eda77cced7000115"'
      Status:
      - 200 OK
      X-6w-Client-Status:
      - unknown
      X-6w-Timestamp:
      - '1364175769'
      X-Ratelimit-Delay-Hard:
      - '0'
      X-Ratelimit-Delay-Soft:
      - '840'
      X-Server:
      - ip-10-226-39-240
    body:
      encoding: US-ASCII
      string: ! '[{"id":"ABIdAARgVkA","created_at":"2013-03-24T07:29:40Z","updated_at":"2013-03-24T07:29:40Z","title":"Private","local_identifier":"localId:prepopulated:AAIdAABMQ6I:List:private","version":1,"type":"List","owner_id":"AAIdAABMQ6I","position":8.0e-05},{"id":"ABIdAARgVkI","created_at":"2013-03-24T07:29:40Z","updated_at":"2013-03-24T07:29:40Z","title":"Work","local_identifier":"localId:prepopulated:AAIdAABMQ6I:List:work","version":1,"type":"List","owner_id":"AAIdAABMQ6I","position":10.0},{"id":"ABIdAARgVkM","created_at":"2013-03-24T07:29:40Z","updated_at":"2013-03-24T07:29:40Z","title":"Shopping","local_identifier":"localId:prepopulated:AAIdAABMQ6I:List:shopping","version":1,"type":"List","owner_id":"AAIdAABMQ6I","position":20.00002},{"id":"ABIdAARgVkQ","created_at":"2013-03-24T07:29:40Z","updated_at":"2013-03-24T07:29:40Z","title":"Movies
        to Watch","local_identifier":"localId:prepopulated:AAIdAABMQ6I:List:movies","version":1,"type":"List","owner_id":"AAIdAABMQ6I","position":29.99998},{"id":"ABIdAARgVkU","created_at":"2013-03-24T07:29:40Z","updated_at":"2013-03-24T07:29:40Z","title":"Wishlist","local_identifier":"localId:prepopulated:AAIdAABMQ6I:List:wishlist","version":1,"type":"List","owner_id":"AAIdAABMQ6I","position":39.99992}]'
  recorded_at: Mon, 25 Mar 2013 01:42:53 GMT
- request:
    method: get
    uri: https://api.wunderlist.com/me/lists?
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-6w-Client-Status:
      - unknown
      X-6w-Timestamp:
      - '1364175928'
      X-Ratelimit-Delay-Hard:
      - '0'
      X-Ratelimit-Delay-Soft:
      - '893'
    body:
      encoding: US-ASCII
      string: ! '{"errors":{"message":"You must be authenticated to continue.","type":"unauthorized"}}'
  recorded_at: Mon, 25 Mar 2013 01:45:31 GMT
recorded_with: VCR 2.4.0
