---
http_interactions:
- request:
    method: post
    uri: https://api.wunderlist.com/login?email=fake@example.com&password=fakepass
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"87b3680a522171eae890602851b79bf2"'
      Status:
      - 200 OK
      X-6w-Client-Status:
      - unknown
      X-Ratelimit-Delay-Hard:
      - '0'
      X-Ratelimit-Delay-Soft:
      - '979'
      X-Server:
      - ip-10-227-29-235
    body:
      encoding: UTF-8
      string: |
        {
            "id": "ABcDEFGhIJk",
            "created_at": "2013-03-23T23:07:10Z",
            "updated_at": "2013-03-23T23:07:10Z",
            "name": "fake@example.com",
            "type": "User",
            "avatar": null,
            "email": "fake@example.com",
            "token": "131378dbc2490bf87b6080ad6aeb758a46673270bbca9c7ea26f434473bbe741",
            "confirmation_state": "confirmed_email",
            "email_confirmed": true,
            "product": null,
            "settings": {
            }
        }
  recorded_at: Sun, 24 Mar 2013 00:59:02 GMT
- request:
    method: post
    uri: https://api.wunderlist.com/login?email=fake@example.com&password=badpassword
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-6w-Client-Status:
      - unknown
      X-Ratelimit-Delay-Hard:
      - '0'
      X-Ratelimit-Delay-Soft:
      - '1289'
    body:
      encoding: UTF-8
      string: '{"errors":{"message":"We were unable to locate a user based on the
        credentials you supplied.","type":"not_found.no_such_user"},"resource":{"email":"fake@example.com","password":"[FILTERED]","controller":"sessions","action":"create"}}'
  recorded_at: Sun, 24 Mar 2013 01:23:52 GMT
recorded_with: VCR 2.4.0
